*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.btn{
    background-color: #164B60;
    width: 127px;
    height: 35px;
    top: 155px;
    margin-left: 500px;
    padding: 5px 26px 10px 26px;
    gap: 18px;
    border-radius: 0%;
}


input{
    width: 620px;
    height: 61px;
    top: 250px;
    left: 327px;
    border: transparent;
}
.shadow:hover{
   
    cursor: pointer;
    border: 1 px solid blue;

}

.Add{
    width: 150px;
    height: 35px;
    top: 583px;
    left: 541px;
    padding: 5x 26px 10px 26px;
    gap: 18px;
    background-color: #164B60;
    border-radius: opx;
}

.image{
    height: 180px;
    border-radius: 50%;
    border: 1px solid;
    width: 180px;
    margin-left: 550px;
}

img{
    height: 180px;
    border-radius: 50%;
    width: 180px;
   
}
.fa-solid {

   margin-right: 2500px;
   font-size: 50px; 
}

.imag img{
    height: 50px;
    width: 50px;
}

.p-shadow{
   
   display: flex;
   justify-content: space-between;
}
#firstName:hover
{
    cursor: pointer;
    border-color: 1 px solid blue;
}

.content span{
    font-weight: bold;
}

.imag__component{
    display: flex;
    align-items: center;
}
.imag__component img{
    height: 60px;
    width: 60px;
}

.content p {
    margin: 0%;
}

.content{
    padding-left: 15px;
}
   

.component__icons {
    display: flex;
   margin-top: 15px;
}

.component__icons i{
    font-size: 15px;
    padding: 10px;
    margin: 0%;
}





